* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.formdata {
  margin: 20px;
}
.row {
  margin: 8px;
}
.card {
  margin: 0px;
  padding: 0px;
}

.tab {
  margin-left: 50px;
}

@media (max-width: 788px) {
  .tab {
    margin-top: 30px;
    margin-left: 0px;
  }

  .row {
    margin: 8px;
  }
}
